*{
    color: whitesmoke;
    padding: 0;
}
.PortContainer{
    background-color: black;
    height: 100%;
}

.work{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 55px;
    grid-column-gap: 55px;
    grid-template-areas: 
    "image"
    "heading"
    "text"
    "fab";
    text-align: center;
    margin: auto;
    padding: 50px;
 
}

.image{
   height: 250px;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  
}

.item{
    background-color: whitesmoke;
    /* box-shadow: 5px 5px 15px white; */
	border-radius: 18px;
	text-align: center;
    transition: 0.3s ease;
}

.item:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 15px whitesmoke;
}
.title{
    padding: 15px;
    margin-left: 10%;
    font-size: 50px;
    font-weight: 200;
    font-family: 'Montserrat Subrayada', sans-serif;
}

#i{
    color: black;
    padding: 10px;
    background-color: whitesmoke;
}

.goto:hover{
cursor: pointer;
}