.icons{
    background-color: black;

}


.icons .social{
    padding: 7px;
}

.connect{
    font-weight: 600;
}


#fab:hover{
    font-size: 20px;
    color: rgb(235, 158, 194);
    text-shadow: 0px 0px 10px rgb(206, 9, 101), 2px 2px 4px #000;
  }
    

  .FootContainer{
      height: auto;
      width: 100%;
      display: flex;
      justify-content: space-between;
      

  }
